In [2]:
import pandas as pd

melb_data_ps = pd.read_csv('C:\IDE\data\melb_data_ps.csv', sep=',')


melb_data_ps['WeekdaySale'] = pd.to_datetime(melb_data_ps['Date'], errors='coerce').dt.dayofweek


def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0
    return
    
melb_data_ps['WeekEnd'] = melb_data_ps['WeekdaySale'].apply(get_weekend)
display(melb_data_ps[melb_data_ps['WeekEnd'] == 1]['Price'].mean().round())

1109034.0

In [63]:
import pandas as pd

melb_data_ps = pd.read_csv('C:\IDE\data\melb_data_ps.csv', sep=',')

melb_df = melb_data_ps.copy()


popular_sellers = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['Popular_Sellers']= melb_df['SellerG'] .apply(lambda x: x if x in popular_sellers else 'other')
display(melb_df[melb_df['Popular_Sellers'] == 'Nelson']['Price'].min()/melb_df[melb_df['Popular_Sellers'] == 'other']['Price'].min())

1.297709923664122

In [16]:

import pandas as pd

def get_experience(arg):
    exclude_list = ['лет', 'год', 'года']
    years_list = arg.split(' ')
    year_type = years_list[-1]
    if year_type in exclude_list:
        month = int(years_list[2])*12
        return month
    elif year_type not in exclude_list:
        if len(years_list) > 4:
            month = int(years_list[2])*12 + int(years_list[-2])
            return month
        else:
            month = int(years_list[2])
            return month
    else:
        month = int(years_list[2])
        return month
    return

test_series_1 = pd.Series([
    'Опыт работы 8 лет 3 месяца',
    'Опыт работы 3 года 5 месяцев',
    'Опыт работы 1 год 9 месяцев',
    'Опыт работы 3 месяца',
    'Опыт работы 6 лет'
])


test_series_1.apply(get_experience)

0    99
1    41
2    21
3     3
4    72
dtype: int64

In [4]:
import pandas as pd

melb_df = pd.read_csv('C:\IDE\data\melb_data_ps.csv', sep=',')
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [60]:
import pandas as pd

melb_df = pd.read_csv('C:\IDE\data\melb_data_ps.csv', sep=',')

cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  category
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  category
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  category
 17  CouncilArea    12211 non-null  category
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  category
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: category(5), float64(6), int64(7), object(5)
memory usage: 1.9+ MB

In [98]:
melb_df[melb_df['Suburb']]['Richmond']

KeyError: "None of [Index(['Abbotsford', 'Abbotsford', 'Abbotsford', 'Abbotsford', 'Abbotsford',\n       'Abbotsford', 'Abbotsford', 'Abbotsford', 'Abbotsford', 'Abbotsford',\n       ...\n       'Wantirna South', 'Wantirna South', 'Watsonia', 'Werribee',\n       'Westmeadows', 'Wheelers Hill', 'Williamstown', 'Williamstown',\n       'Williamstown', 'Yarraville'],\n      dtype='object', length=13580)] are in the [columns]"

In [ ]:
max_unique = 119 
for st in melb_df['Suburb']:
    if melb_df['Suburb'][st].count() < max_unique:
        melb_df[st] = melb_df[st].astype('category') # преобразуем тип столбца
melb_df.info()