In [49]:
import pandas as pd

ratings1 = pd.read_csv('C:/IDE/data/ratings1.csv', sep=',')
ratings2 = pd.read_csv('C:/IDE/data/ratings2.csv', sep=',')
dates = pd.read_csv('C:/IDE/data/dates.csv', sep=',')
movies = pd.read_csv('C:/IDE/data/movies.csv', sep=',')

dates_r = pd.to_datetime(dates['date']).dt.year


ratings = pd.concat([ratings1, ratings2], ignore_index=True)

#print('Число строк в таблице ratings: ', ratings.shape[0])
#print('Число строк в таблице dates: ', dates.shape[0])
#display(ratings1.tail(1))
#display(ratings2.head(1))

ratings = ratings.drop_duplicates(ignore_index=True)
#print('Число строк в таблице ratings: ', ratings.shape[0])

ratings_dates = pd.concat([ratings, dates], axis=1)


#import pandas as pd
#import os

#def concat_user_files(path):
    #data = pd.DataFrame()
    #file_names = os.listdir(path)
    #file_names.sort()
    #for file in file_names:
        #tmp_data = pd.read_csv(path+ '/'+ file)
        #data = pd.concat((data, tmp_data),axis = 0, ignore_index = True).drop_duplicates()
    #return data
    
    
joined_false = ratings_dates.join(
    movies,
    rsuffix='_right',
    how='inner'
)


joined = ratings_dates.join(
    movies.set_index('movieId'),
    on='movieId',
    how='left'
)

merged = ratings_dates.merge(
    movies,
    on='movieId',
    how='left'
)
#display(merged.head())

#print('Число строк в таблице ratings_dates: ', ratings_dates.shape[0])
#print('Число строк в таблице merged: ', merged.shape[0])
#print(ratings_dates.shape[0] == merged.shape[0])

,userId,movieId,rating,date,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

Число строк в таблице ratings_dates:  100836
Число строк в таблице merged:  100836
True

In [66]:
import pandas as pd
import re
import numpy as np

ratings_movies = pd.read_csv('C:/IDE/data/ratings_movies.csv', sep=',')
def get_year_release(arg):
    candidates = re.findall(r'\(\d{4}\)', arg) 
    if len(candidates) > 0:
        year = candidates[0].replace('(', '')
        year = int(year.replace(')', ''))
        return year
    else:
        return 0
    
ratings_movies['year_release'] = ratings_movies['title'].apply(get_year_release)
ratings_movies.sort_values(by=['year_release'])
ratings_movies.groupby(['year_release', 'title'])['rating'].mean().loc[1999].sort_values()
ratings_movies.groupby(['year_release', 'genres'])['rating'].mean().loc[2010].sort_values()

ratings_movies.groupby('userId')['genres'].nunique().sort_values(ascending=False)
ratings_movies.groupby(['userId'])['rating'].agg(['count', 'mean']).sort_values(['count', 'mean'], ascending=[True, False])

ratings_movies[(ratings_movies['year_release'] == 2018)].groupby('genres')['rating'].agg('count').sort_values(ascending=False) #главный вопрос был

ratings_movies['year_rating'] = pd.to_datetime(ratings_movies['date']).dt.year

ratings_movies.pivot_table(
    values='rating',
    index='year_rating',
    columns='genres',
    aggfunc=['mean'],
    fill_value=0
).loc[2018].sort_values(ascending=False) #очень важно!

                          mean
genres      (no genres listed)    Action Action|Adventure
year_rating
1996                  0.000000  2.730769         3.454545  \
1997                  0.000000  3.538462         4.150000
1998                  0.000000  0.000000         4.200000
1999                  0.000000  0.000000         4.000000
2000                  0.000000  2.588235         3.738462
2001                  0.000000  3.000000         3.500000
2002                  0.000000  2.750000         4.304348
2003                  0.000000  3.833333         3.277778
2004                  0.000000  2.700000         4.136364
2005                  0.000000  3.357143         3.413043
2006                  0.000000  2.166667         4.090909
2007                  0.000000  2.583333         3.666667
2008                  0.000000  3.000000         3.656250
2009                  0.000000  0.000000         3.714286
2010                  0.000000  3.500000         3.437500
2011                  0.000000  4.500000         3.888889
2012                  0.000000  2.625000         3.900000
2013                  0.000000  2.500000         3.833333
2014                  0.000000  0.000000         3.875000
2015                  0.500000  3.100000         3.560976
2016                  3.500000  3.545455         3.722222
2017                  3.000000  2.637931         3.527778
2018                  3.676471  2.588235         3.397436


genres      Action|Adventure|Animation Action|Adventure|Animation|Children
year_rating
1996                             0.000                            0.000000  \
1997                             0.000                            0.000000
1998                             0.000                            0.000000
1999                             0.000                            0.000000
2000                             0.000                            0.000000
2001                             0.000                            0.000000
2002                             0.000                            0.000000
2003                             0.000                            0.000000
2004                             0.000                            0.000000
2005                             0.000                            0.000000
2006                             0.000                            0.000000
2007                             0.000                            0.000000
2008                             0.000                            0.000000
2009                             0.000                            0.000000
2010                             0.000                            0.000000
2011                             0.000                            0.000000
2012                             0.000                            4.000000
2013                             0.000                            3.000000
2014                             3.000                            3.500000
2015                             3.800                            3.666667
2016                             3.750                            3.833333
2017                             3.375                            3.500000
2018                             3.650                            3.166667


genres      Action|Adventure|Animation|Children|Comedy
year_rating
1996                                          0.000000  \
1997                                          0.000000
1998                                          0.000000
1999                                          0.000000
2000                                          0.000000
2001                                          0.000000
2002                                          0.000000
2003                                          0.000000
2004                                          4.000000
2005                                          4.107143
2006                                          3.833333
2007                                          3.846154
2008                                          4.125000
2009                                          3.900000
2010                                          4.333333
2011                                          3.500000
2012                                          3.785714
2013                                          4.333333
2014                                          3.250000
2015                                          3.565217
2016                                          3.925000
2017                                          3.676471
2018                                          3.741935


genres      Action|Adventure|Animation|Children|Comedy|Fantasy
year_rating
1996                                                  0.000000  \
1997                                                  0.000000
1998                                                  0.000000
1999                                                  0.000000
2000                                                  0.000000
2001                                                  0.000000
2002                                                  0.000000
2003                                                  0.000000
2004                                                  0.000000
2005                                                  0.000000
2006                                                  0.000000
2007                                                  3.000000
2008                                                  4.000000
2009                                                  0.000000
2010                                                  0.000000
2011                                                  0.000000
2012                                                  0.000000
2013                                                  0.000000
2014                                                  3.833333
2015                                                  3.833333
2016                                                  3.388889
2017                                                  3.700000
2018                                                  4.142857


genres      Action|Adventure|Animation|Children|Comedy|IMAX
year_rating
1996                                               0.000000  \
1997                                               0.000000
1998                                               0.000000
1999                                               0.000000
2000                                               0.000000
2001                                               0.000000
2002                                               0.000000
2003                                               0.000000
2004                                               0.000000
2005                                               0.000000
2006                                               0.000000
2007                                               0.000000
2008                                               0.000000
2009                                               3.250000
2010                                               3.500000
2011                                               0.000000
2012                                               3.550000
2013                                               5.000000
2014                                               3.500000
2015                                               3.375000
2016                                               3.666667
2017                                               1.000000
2018                                               3.700000


genres      Action|Adventure|Animation|Children|Comedy|Romance
year_rating
1996                                                  0.000000  \
1997                                                  0.000000
1998                                                  0.000000
1999                                                  0.000000
2000                                                  0.000000
2001                                                  0.000000
2002                                                  0.000000
2003                                                  0.000000
2004                                                  0.000000
2005                                                  0.000000
2006                                                  0.000000
2007                                                  0.000000
2008                                                  0.000000
2009                                                  0.000000
2010                                                  3.000000
2011                                                  0.000000
2012                                                  4.000000
2013                                                  0.000000
2014                                                  4.000000
2015                                                  2.333333
2016                                                  1.000000
2017                                                  1.000000
2018                                                  2.500000

                                                               ...
genres      Action|Adventure|Animation|Children|Comedy|Sci-Fi  ...
year_rating                                                    ...
1996                                                      0.0  ...  \
1997                                                      0.0  ...
1998                                                      0.0  ...
1999                                                      0.0  ...
2000                                                      0.0  ...
2001                                                      0.0  ...
2002                                                      0.0  ...
2003                                                      0.0  ...
2004                                                      0.0  ...
2005                                                      0.0  ...
2006                                                      3.0  ...
2007                                                      2.8  ...
2008                                                      3.5  ...
2009                                                      2.5  ...
2010                                                      0.0  ...
2011                                                      4.0  ...
2012                                                      0.0  ...
2013                                                      0.0  ...
2014                                                      0.0  ...
2015                                                      2.5  ...
2016                                                      4.0  ...
2017                                                      2.0  ...
2018                                                      4.0  ...


genres      Romance|Thriller Romance|War Romance|Western    Sci-Fi
year_rating
1996                   0.000         0.0             0.0  0.000000  \
1997                   0.000         0.0             0.0  0.000000
1998                   0.000         0.0             0.0  0.000000
1999                   2.000         0.0             0.0  0.000000
2000                   4.000         0.0             3.0  3.416667
2001                   0.000         0.0             3.0  2.500000
2002                   3.000         0.0             0.0  3.750000
2003                   3.375         2.5             0.0  2.333333
2004                   3.000         3.0             3.5  2.125000
2005                   2.000         0.0             0.0  3.000000
2006                   0.000         0.0             0.0  0.500000
2007                   1.500         0.0             2.5  3.375000
2008                   0.000         0.0             0.0  3.125000
2009                   0.000         0.0             0.0  2.000000
2010                   0.000         0.0             0.0  4.000000
2011                   0.000         0.0             0.0  3.500000
2012                   2.500         0.0             0.0  4.166667
2013                   0.000         0.0             0.0  1.500000
2014                   0.000         0.0             0.0  2.500000
2015                   0.000         0.0             0.0  2.900000
2016                   2.500         0.0             0.0  3.555556
2017                   3.000         0.0             0.0  3.864865
2018                   0.000         0.0             0.0  3.128571


genres      Sci-Fi|IMAX Sci-Fi|Thriller Sci-Fi|Thriller|IMAX  Thriller  War
year_rating
1996           0.000000        2.666667             0.000000  3.838095  0.0  \
1997           0.000000        3.400000             0.000000  3.923077  0.0
1998           0.000000        0.000000             0.000000  3.800000  0.0
1999           0.000000        4.000000             0.000000  3.700000  4.5
2000           0.000000        2.142857             0.000000  3.087912  3.0
2001           0.000000        2.500000             0.000000  3.477273  3.0
2002           0.000000        3.600000             0.000000  3.583333  3.5
2003           0.000000        3.142857             0.000000  3.250000  3.0
2004           0.000000        0.000000             0.000000  3.464286  3.0
2005           0.000000        2.750000             0.000000  3.411765  0.0
2006           0.000000        4.500000             0.000000  3.735294  0.0
2007           0.000000        2.833333             0.000000  3.421875  0.0
2008           0.000000        3.000000             0.000000  3.333333  0.0
2009           0.000000        4.000000             0.000000  2.964286  4.0
2010           0.000000        2.500000             0.000000  2.833333  0.0
2011           0.000000        1.833333             4.000000  3.625000  0.0
2012           0.000000        3.500000             3.666667  3.083333  0.0
2013           0.000000        3.833333             4.000000  3.666667  0.0
2014           5.000000        0.000000             4.000000  4.000000  0.0
2015           4.071429        3.764706             4.000000  2.911765  0.0
2016           3.807692        3.916667             3.666667  3.432432  0.0
2017           4.264706        3.750000             2.500000  3.152174  0.0
2018           3.500000        3.562500             0.000000  3.296296  0.0


genres        Western
year_rating
1996         3.117647
1997         3.000000
1998         0.000000
1999         4.000000
2000         4.058824
2001         3.111111
2002         3.000000
2003         4.000000
2004         3.800000
2005         4.500000
2006         3.625000
2007         3.000000
2008         4.000000
2009         3.375000
2010         3.666667
2011         4.000000
2012         4.100000
2013         4.000000
2014         4.000000
2015         3.900000
2016         3.958333
2017         2.933333
2018         3.611111

[23 rows x 951 columns]